html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: fot-tsukubrdgothic-std,'TsukuBRdGothic-Regular','ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN', sans-serif;
  color: #333333;
  position: relative;
  overflow-x: hidden;
}

body * {
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

li {
  list-style: none;
}

a{
  display: block;
}

a:link, a:visited, a:hover, a:active {
  color: #333333;
  text-decoration: none;
}