@charset 'UTF-8';

@use './default' as default;
@use './media-query' as mediaQuery;

$textColor: #333333;
$baseColor: #f4f4f4;
$mainBlue: #8aa6d9;
$subBlue: #1d293f;
$accentColor: #ffcd64;

.Works {
  overflow: hidden;
  background: url(../img/bg-grid.svg), rgba($color: $baseColor, $alpha: 100%);

  @include mediaQuery.mq {
    background: url(../img/bg-grid-sm.svg), rgba($color: $baseColor, $alpha: 100%);
  }
}

.Introduce {
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 850px;
  padding-top: 60px;
  padding-right: 40px;
  padding-left: 40px;

  @include mediaQuery.mq {
    min-height: auto;
    padding-top: 62px;
    padding-right: 0;
    padding-bottom: 80px;
    padding-left: 0;
  }

  &__Inner {
    width: 1100px;

    @include mediaQuery.mq {
      width: 100%;
    }
  }
}

.Introduce-Title {
  position: relative;
  display: inline-block;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  letter-spacing: .05em;

  @media screen and (max-width: 1180px) {
    padding-left: 80px;
  }

  @include mediaQuery.mq {
    padding-left: 30px;
    font-size: 2.8rem;
    line-height: 1.25;
  }

  &::before {
    position: absolute;
    top: 50%;
    left: calc((((100vw - 100%) / 2) + 40px) * -1);
    display: block;
    width: calc((100vw - 100%) / 2);
    min-width: 132px;
    height: 3px;
    background-color: $textColor;
    content: '';
    transform: translateY(-50%);

    @include mediaQuery.mq(lg) {
      left: -172px;
      width: 132px;
    }

    @media screen and (max-width: 1180px) {
      left: -40px;
      width: 100px;
      min-width: auto;
    }

    @include mediaQuery.mq {
      left: 0;
      width: 15px;
    }
  }
}

.Introduce-Media {
  display: flex;
  gap: 36px;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 30px;

  @include mediaQuery.mq {
    flex-direction: column;
    gap: 48px;
    margin-top: 32px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.Introduce-Media-Link-Area {
  flex: 1;
  min-width: (590 / 1100 * 100%);

  @include mediaQuery.mq {
    width: 100%;
    min-width: auto;
  }
}

.Introduce-Image {
  display: block;
  width: 100%;
  padding-top: (443 / 590 * 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include mediaQuery.mq {
    padding-top: (218 / 290 * 100%);
  }
}

.Introduce-LinkBtn-Box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: .05em;

  @include mediaQuery.mq {
    gap: 20px;
    margin-top: 16px;
    font-size: 1.6rem;
  }
}

.Introduce-LinkBtn-WebSite {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: (275 / 590 * 100%);
  height: 60px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 6px;
  cursor: pointer;

  @include mediaQuery.mq {
    width: 100%;
    min-width: (135 / 320 * 100%);
    height: 48px;
  }

  &::after {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: $subBlue;
    content: '';
    transition: all ease-in .2s;
    transform: scale(0, 1);
    transform-origin: center;
  }

  &:hover {
    border: 1px solid $subBlue;
    color: #ffffff;
    transition: all .3s;

    &::after {
      opacity: 1;
      transition: all ease-in .2s;
      transform: scale(1, 1);
    }
  }
}

.Introduce-LinkBtn-GitHub {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: (275 / 590 * 100%);
  height: 60px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 6px;
  cursor: pointer;

  @include mediaQuery.mq {
    width: 100%;
    min-width: (135 / 320 * 100%);
    height: 48px;
  }

  &::after {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: $subBlue;
    opacity: .5;
    content: '';
    transition: all ease-in .2s;
    transform: scale(0, 1);
    transform-origin: center;
  }

  &:hover {
    border: 1px solid $subBlue;
    color: #ffffff;
    transition: all .3s;

    &::after {
      opacity: 1;
      transition: all ease-in .2s;
      transform: scale(1, 1);
    }
  }
}

.Introduce-LinkBtn-Text {
  position: relative;
  z-index: 1;
}

.Introduce-LoginInformation {
  display: flex;
  align-items: center;
  margin-top: 12px;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  letter-spacing: .05em;

  @include mediaQuery.mq {
    display: block;
  }
}

.Introduce-LoginInformation-Item {
  display: flex;
  align-items: center;

  @include mediaQuery.mq {
    margin-left: 17px;
  }

  & + .Introduce-LoginInformation-Item {
    margin-left: 20px;

    @include mediaQuery.mq {
      margin-top: 8px;
      margin-left: 17px;
    }
  }
}

.Introduce-LoginInformation-Badge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 24px;
  background-color: #ffffff;
  border-radius: 14px;
  font-size: 1.4rem;

  @include mediaQuery.mq {
    width: 48px;
    height: 18px;
    font-size: 1.3rem;
  }
}

.Introduce-LoginInformation-Text {
  margin-left: 20px;

  @include mediaQuery.mq {
    font-size: 1.4rem;
  }
}

.Introduce-Media-Text-Area {
  min-width: (473 / 1100 * 100%);

  @include mediaQuery.mq {
    min-width: 100%;
  }
}

.Introduce-Media-Summary {
  display: flex;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  letter-spacing: .05em;
  word-break: break-all;

  @include mediaQuery.mq {
    display: block;
  }

  & + & {
    margin-top: 14px;

    @include mediaQuery.mq {
      margin-top: 20px;
    }
  }
}

.Introduce-Media-Summary-Badge {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 64px;
  height: 24px;
  background-color: $subBlue;
  border-radius: 14px;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;

  @include mediaQuery.mq {
    width: 64px;
    min-width: auto;
  }
}

.Introduce-Media-Summary-Text {
  display: block;
  margin-top: -5px;
  margin-left: 12px;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  word-break: break-all;

  @include mediaQuery.mq {
    margin-top: 8px;
    margin-left: 0;
    font-size: 1.6rem;
  }
}

.Introduce-Media-Overview-Text {
  margin-top: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  letter-spacing: .04em;

  @include mediaQuery.mq {
    margin-top: 42px;
    font-size: 1.4rem;
  }
}

.Introduce-Media-Time-Text {
  margin-top: 36px;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: .05em;
  word-break: break-all;

  @include mediaQuery.mq {
    margin-top: 44px;
    font-size: 1.6rem;
    line-height: 1.6875;
  }
}

.Introduce-Media-Technique-Text {
  margin-top: 16px;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: .05em;
  word-break: break-all;

  @include mediaQuery.mq {
    margin-top: 24px;
    font-size: 1.6rem;
    line-height: 1.6875;
  }
}

.More {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  margin-top: 24px;
  width: 100%;
  height: 125px;
  background-image: url(../img/gallery/bg-more-area-line.svg);
  background-repeat: no-repeat;
  background-position: right 24.9% center;
  background-size: auto 100%;

  @include mediaQuery.mq {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: -80px;
    left: 0;
    justify-content: center;
    height: 120px;
    background-position: center;
    background-size: auto 100%;
  }
}

.More-Scroll-Btn {
  margin-top: 6px;
  margin-right: 36px;
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  transition: all .3s;

  @include mediaQuery.mq(lmd) {
    margin-right: 40px;
  }

  @include mediaQuery.mq {
    margin-top: 19px;
  }

  &:hover {
    transition: all .3s;
    transform: scale(1.05);
  }
}

.More-FootPrints-Area {
  margin-right: 20%;
  width: 30px;
  height: 124px;

  @include mediaQuery.mq(lmd) {
    margin-right: 18%;
  }

  @include mediaQuery.mq {
    position: relative;
    left: -10px;
    margin-right: 0;
    width: 15px;
    height: 120px;
  }
}

.More-Footprints {
  @include mediaQuery.mq {
    position: absolute;
    bottom: 0;
  }
}

.Introduce-Bg-Diamond-BottomLeft {
  position: absolute;
  z-index: -1;
  bottom: -91px;
  left: -25.76%;
  width: 60.7%;
  max-width: 874px;
  padding-top: 35%;
  background: url(../img/bg-diamond.svg);
  background-repeat: no-repeat;
  background-size: contain;

  @include mediaQuery.mq(xl) {
    left: calc(50% - 874px - 210px);
    padding-top: 505px;
  }

  @include mediaQuery.mq {
    display: none;
  }
}

.Introduce-SP-Bg-Diamond-MiddleLeft {
  display: none;

  @include mediaQuery.mq {
    position: absolute;
    z-index: -1;
    top: 30.65%;
    left: -282px;
    display: block;
    width: 675px;
    height: 389px;
    background: url(../img/bg-diamond.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.Introduce-SP-Bg-Diamond-BottomRight {
  display: none;

  @include mediaQuery.mq {
    position: absolute;
    z-index: -1;
    right: -92px;
    bottom: 60px;
    display: block;
    width: 350px;
    height: 202px;
    background: url(../img/bg-diamond.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.Description {
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 80px;
  padding-right: 40px;
  padding-bottom: 150px;
  padding-left: 40px;

  @include mediaQuery.mq {
    padding-top: 140px;
    padding-right: 0;
    padding-bottom: 100px;
    padding-left: 0;
  }

  &__Inner {
    width: 1100px;
  }
}

.Description-Media {
  position: relative;
  width: 100%;

  &::before {
    position: absolute;
    top: -40px;
    right: 24.9%;
    display: block;
    width: 3px;
    height: 40px;
    background-color: $textColor;
    content: '';

    @include mediaQuery.mq {
      display: none;
    }
  }

  &::after {
    @include mediaQuery.mq {
      position: absolute;
      z-index: -1;
      top: -35px;
      left: -100px;
      display: block;
      width: 260px;
      height: 150px;
      background-image: url(../img/bg-diamond.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      content: '';
    }
  }

  & + & {
    margin-top: 100px;

    @include mediaQuery.mq {
      margin-top: 85px;
    }
  }

  & + &::after {
    right: -100px;
    left: auto;
  }

  &__Inner {
    display: flex;
    gap: (54 / 1100 * 100%);
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;

    @include mediaQuery.mq {
      flex-direction: column;
      gap: 40px;
      padding-right: 15px;
      padding-left: 15px;
    }
  }
}

.Description-Text-Box {
  min-width: (496 / 1100 * 100%);

  @include mediaQuery.mq {
    min-width: 100%;
  }
}

.Description-Text-Box-Title {
  margin-top: -10px;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: .05em;

  @include mediaQuery.mq {
    font-size: 2.4rem;
    line-height: 1.5;
  }
}

.Description-Text-Box-Text {
  margin-top: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  letter-spacing: .02em;
  word-break: break-all;

  @include mediaQuery.mq {
    margin-top: 24px;
    font-size: 1.4rem;
  }
}

.Description-Image-Box {
  position: relative;
  min-width: (550 / 1100 * 100%);

  @include mediaQuery.mq {
    min-width: 100%;
  }

  &::before {
    @include mediaQuery.mq {
      position: absolute;
      top: -20px;
      right: 50%;
      display: block;
      width: 3px;
      height: 20px;
      background-color: $textColor;
      content: '';
      transform: translateX(-50%);
    }
  }
}

.Description-Caption {
  margin-top: 5px;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
}

.Description-Bg-Diamond-BottomRight {
  position: absolute;
  z-index: -1;
  right: -31.3%;
  bottom: -230px;
  width: 76%;
  padding-top: 632px;
  background-image: url(../img/bg-diamond.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @include mediaQuery.mq(xl) {
    right: calc(50% - 1095px - 100px);
    padding-top: 632px;
  }

  @include mediaQuery.mq {
    display: none;
  }
}

.Description-SP-Bg-Diamond-BottomLeft {
  @include mediaQuery.mq {
    position: absolute;
    z-index: -1;
    bottom: -167px;
    left: -261px;
    width: 581px;
    padding-top: 335px;
    background-image: url(../img/bg-diamond.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.Works-Footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  padding-top: 28px;
  padding-right: 40px;
  padding-bottom: 28px;
  padding-left: 40px;
  background-color: $subBlue;
  color: #ffffff;

  @include mediaQuery.mq {
    height: 120px;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
    text-align: center;
  }

  &__Inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1280px;

    @include mediaQuery.mq {
      flex-direction: column;
      justify-content: center;
    }
  }
}

.Works-Footer-Back-Link {
  position: relative;
  font-family: 'Josefin Sans';
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  color: #ffffff !important;
  letter-spacing: .02em;
  transition: opacity .3s;

  &:hover {
    opacity: .7;
    transition: opacity .3s;
  }
}

.Works-Footer-CopyText {
  font-family: 'Josefin Sans';
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.3333;
  letter-spacing: .1em;

  @include mediaQuery.mq {
    margin-top: 41px;
  }
}

.st2 {
  fill: none;
}

@keyframes drawLine {

  100% {
    stroke-dashoffset: 0;
  }
}

#More-Footprint01,
#More-Footprint02,
#More-Footprint03 {
  fill-opacity: 0;
  stroke-dasharray: 300;
  stroke-dashoffset: 301;
  transition: fill-opacity .1s;
  animation: drawLine .1s linear forwards;
}

#More-Footprint01.done .st2 {
  fill: #1a283e;
  fill-opacity: 1;
  transition: fill-opacity .2s;
}

#More-Footprint02.done .st2 {
  fill: #1a283e;
  fill-opacity: 1;
  transition: fill-opacity .2s;
  transition-delay: .3s;
}

#More-Footprint03.done .st2 {
  fill: #1a283e;
  fill-opacity: 1;
  transition: fill-opacity .2s;
  transition-delay: .6s;
}
