@charset "UTF-8";
html {
  overflow-x: hidden;
  font-size: 62.5%;
}

@font-face {
  font-family: "Zen Maru Gothic";
  font-style: normal;
  font-weight: 400;
  src: url("/resources/font/ZenMaruGothic-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Zen Maru Gothic";
  font-style: normal;
  font-weight: 500;
  src: url("/resources/font/ZenMaruGothic-Medium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  src: url("/resources/font/JosefinSans-Light.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/resources/font/JosefinSans-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 600;
  src: url("/resources/font/JosefinSans-SemiBold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: url("/resources/font/RobotoCondensed-Regular.woff") format("woff");
  font-display: swap;
}
body {
  position: relative;
  overflow-x: hidden;
  font-family: "Zen Maru Gothic", "ヒラギノ丸ゴ ProN", "Hiragino Maru Gothic ProN", serif;
  font-size: 1.6rem;
  color: #333333;
}

body * {
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

li {
  list-style: none;
}

a {
  display: block;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #333333;
  text-decoration: none;
}

.Works {
  overflow: hidden;
  background: url(../img/bg-grid.svg), #f4f4f4;
}
@media screen and (max-width: 767px) {
  .Works {
    background: url(../img/bg-grid-sm.svg), #f4f4f4;
  }
}

.Introduce {
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 850px;
  padding-top: 60px;
  padding-right: 40px;
  padding-left: 40px;
}
@media screen and (max-width: 767px) {
  .Introduce {
    min-height: auto;
    padding-top: 62px;
    padding-right: 0;
    padding-bottom: 80px;
    padding-left: 0;
  }
}
.Introduce__Inner {
  width: 1100px;
}
@media screen and (max-width: 767px) {
  .Introduce__Inner {
    width: 100%;
  }
}

.Introduce-Title {
  position: relative;
  display: inline-block;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.05em;
}
@media screen and (max-width: 1180px) {
  .Introduce-Title {
    padding-left: 80px;
  }
}
@media screen and (max-width: 767px) {
  .Introduce-Title {
    padding-left: 30px;
    font-size: 2.8rem;
    line-height: 1.25;
  }
}
.Introduce-Title::before {
  position: absolute;
  top: 50%;
  left: calc(((100vw - 100%) / 2 + 40px) * -1);
  display: block;
  width: calc((100vw - 100%) / 2);
  min-width: 132px;
  height: 3px;
  background-color: #333333;
  content: "";
  transform: translateY(-50%);
}
@media screen and (max-width: 1439px) {
  .Introduce-Title::before {
    left: -172px;
    width: 132px;
  }
}
@media screen and (max-width: 1180px) {
  .Introduce-Title::before {
    left: -40px;
    width: 100px;
    min-width: auto;
  }
}
@media screen and (max-width: 767px) {
  .Introduce-Title::before {
    left: 0;
    width: 15px;
  }
}

.Introduce-Media {
  display: flex;
  gap: 36px;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 30px;
}
@media screen and (max-width: 767px) {
  .Introduce-Media {
    flex-direction: column;
    gap: 48px;
    margin-top: 32px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.Introduce-Media-Link-Area {
  flex: 1;
  min-width: 53.6363636364%;
}
@media screen and (max-width: 767px) {
  .Introduce-Media-Link-Area {
    width: 100%;
    min-width: auto;
  }
}

.Introduce-Image {
  display: block;
  width: 100%;
  padding-top: 75.0847457627%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 767px) {
  .Introduce-Image {
    margin-right: auto;
    margin-left: auto;
    max-width: 600px;
    padding-top: 75.1724137931%;
    background-size: contain;
  }
}

.Introduce-LinkBtn-Box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.05em;
}
@media screen and (max-width: 767px) {
  .Introduce-LinkBtn-Box {
    gap: 20px;
    margin-top: 16px;
    font-size: 1.6rem;
  }
}

.Introduce-LinkBtn-WebSite {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 46.6101694915%;
  height: 60px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 6px;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .Introduce-LinkBtn-WebSite {
    width: 100%;
    min-width: 42.1875%;
    height: 48px;
  }
}
.Introduce-LinkBtn-WebSite::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #1d293f;
  content: "";
  transition: all ease-in 0.2s;
  transform: scale(0, 1);
  transform-origin: center;
}
.Introduce-LinkBtn-WebSite:hover {
  border: 1px solid #1d293f;
  color: #ffffff;
  transition: all 0.3s;
}
.Introduce-LinkBtn-WebSite:hover::after {
  opacity: 1;
  transition: all ease-in 0.2s;
  transform: scale(1, 1);
}

.Introduce-LinkBtn-GitHub {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 46.6101694915%;
  height: 60px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 6px;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .Introduce-LinkBtn-GitHub {
    width: 100%;
    min-width: 42.1875%;
    height: 48px;
  }
}
.Introduce-LinkBtn-GitHub::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #1d293f;
  opacity: 0.5;
  content: "";
  transition: all ease-in 0.2s;
  transform: scale(0, 1);
  transform-origin: center;
}
.Introduce-LinkBtn-GitHub:hover {
  border: 1px solid #1d293f;
  color: #ffffff;
  transition: all 0.3s;
}
.Introduce-LinkBtn-GitHub:hover::after {
  opacity: 1;
  transition: all ease-in 0.2s;
  transform: scale(1, 1);
}

.Introduce-LinkBtn-Text {
  position: relative;
  z-index: 1;
}

.Introduce-LoginInformation {
  display: flex;
  align-items: center;
  margin-top: 12px;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.05em;
}
@media screen and (max-width: 767px) {
  .Introduce-LoginInformation {
    display: block;
  }
}

.Introduce-LoginInformation-Item {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .Introduce-LoginInformation-Item {
    margin-left: 17px;
  }
}
.Introduce-LoginInformation-Item + .Introduce-LoginInformation-Item {
  margin-left: 20px;
}
@media screen and (max-width: 767px) {
  .Introduce-LoginInformation-Item + .Introduce-LoginInformation-Item {
    margin-top: 8px;
    margin-left: 17px;
  }
}

.Introduce-LoginInformation-Badge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 24px;
  background-color: #ffffff;
  border-radius: 14px;
  font-size: 1.4rem;
}
@media screen and (max-width: 767px) {
  .Introduce-LoginInformation-Badge {
    width: 48px;
    height: 18px;
    font-size: 1.3rem;
  }
}

.Introduce-LoginInformation-Text {
  margin-left: 20px;
}
@media screen and (max-width: 767px) {
  .Introduce-LoginInformation-Text {
    font-size: 1.4rem;
  }
}

.Introduce-Media-Text-Area {
  min-width: 43%;
}
@media screen and (max-width: 767px) {
  .Introduce-Media-Text-Area {
    min-width: 100%;
  }
}

.Introduce-Media-Summary {
  display: flex;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.05em;
  word-break: break-all;
}
@media screen and (max-width: 767px) {
  .Introduce-Media-Summary {
    display: block;
  }
}
.Introduce-Media-Summary + .Introduce-Media-Summary {
  margin-top: 14px;
}
@media screen and (max-width: 767px) {
  .Introduce-Media-Summary + .Introduce-Media-Summary {
    margin-top: 20px;
  }
}

.Introduce-Media-Summary-Badge {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 64px;
  height: 24px;
  background-color: #1d293f;
  border-radius: 14px;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .Introduce-Media-Summary-Badge {
    width: 64px;
    min-width: auto;
  }
}

.Introduce-Media-Summary-Text {
  display: block;
  margin-top: -5px;
  margin-left: 12px;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  word-break: break-all;
}
@media screen and (max-width: 767px) {
  .Introduce-Media-Summary-Text {
    margin-top: 8px;
    margin-left: 0;
    font-size: 1.6rem;
  }
}

.Introduce-Media-Overview-Text {
  margin-top: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
}
@media screen and (max-width: 767px) {
  .Introduce-Media-Overview-Text {
    margin-top: 42px;
    font-size: 1.4rem;
  }
}

.Introduce-Media-Time-Text {
  margin-top: 28px;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.05em;
  word-break: break-all;
}
@media screen and (max-width: 767px) {
  .Introduce-Media-Time-Text {
    margin-top: 42px;
    line-height: 1.6875;
  }
}

.Introduce-Media-Technique-Text {
  margin-top: 12px;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.05em;
  word-break: break-all;
}
@media screen and (max-width: 767px) {
  .Introduce-Media-Technique-Text {
    line-height: 1.6875;
  }
}

.Introduce-Media-DesignComp-Text {
  margin-top: 12px;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.05em;
  word-break: break-all;
}
@media screen and (max-width: 767px) {
  .Introduce-Media-DesignComp-Text {
    line-height: 1.6875;
  }
}

.More {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  margin-top: 50px;
  width: 100%;
  height: 125px;
  background-image: url(../img/gallery/bg-more-area-line.svg);
  background-repeat: no-repeat;
  background-position: right 24.9% center;
  background-size: auto 100%;
}
@media screen and (max-width: 767px) {
  .More {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: -80px;
    left: 0;
    justify-content: center;
    height: 120px;
    background-position: center;
    background-size: auto 100%;
  }
}

.More-Scroll-Btn {
  margin-top: 6px;
  margin-right: 36px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  transition: all 0.3s;
}
@media screen and (max-width: 959px) {
  .More-Scroll-Btn {
    margin-right: 40px;
  }
}
@media screen and (max-width: 767px) {
  .More-Scroll-Btn {
    margin-top: 19px;
  }
}
.More-Scroll-Btn:hover {
  transition: all 0.3s;
  transform: scale(1.05);
}

.More-FootPrints-Area {
  margin-right: 20%;
  width: 30px;
  height: 124px;
}
@media screen and (max-width: 959px) {
  .More-FootPrints-Area {
    margin-right: 18%;
  }
}
@media screen and (max-width: 767px) {
  .More-FootPrints-Area {
    position: relative;
    left: -10px;
    margin-right: 0;
    width: 15px;
    height: 120px;
  }
}

@media screen and (max-width: 767px) {
  .More-Footprints {
    position: absolute;
    bottom: 0;
  }
}

.Introduce-Bg-Diamond__BottomLeft {
  position: absolute;
  z-index: -1;
  bottom: -91px;
  left: -25.76%;
  width: 60.7%;
  max-width: 874px;
  padding-top: 35%;
  background: url(../img/bg-diamond.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (min-width: 1440px) {
  .Introduce-Bg-Diamond__BottomLeft {
    left: calc(50% - 874px - 210px);
    padding-top: 505px;
  }
}
@media screen and (max-width: 767px) {
  .Introduce-Bg-Diamond__BottomLeft {
    display: none;
  }
}

.Introduce-SP-Bg-Diamond__MiddleLeft {
  display: none;
}
@media screen and (max-width: 767px) {
  .Introduce-SP-Bg-Diamond__MiddleLeft {
    position: absolute;
    z-index: -1;
    top: 30.65%;
    left: -282px;
    display: block;
    width: 675px;
    height: 389px;
    background: url(../img/bg-diamond.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.Introduce-SP-Bg-Diamond__BottomRight {
  display: none;
}
@media screen and (max-width: 767px) {
  .Introduce-SP-Bg-Diamond__BottomRight {
    position: absolute;
    z-index: -1;
    right: -92px;
    bottom: 60px;
    display: block;
    width: 350px;
    height: 202px;
    background: url(../img/bg-diamond.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.Description {
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 80px;
  padding-right: 40px;
  padding-bottom: 150px;
  padding-left: 40px;
}
@media screen and (max-width: 767px) {
  .Description {
    padding-top: 140px;
    padding-right: 0;
    padding-bottom: 100px;
    padding-left: 0;
  }
}
.Description__Inner {
  width: 1100px;
}

.Description-Media {
  position: relative;
  width: 100%;
}
.Description-Media::before {
  position: absolute;
  top: -40px;
  right: 24.9%;
  display: block;
  width: 3px;
  height: 40px;
  background-color: #333333;
  content: "";
}
@media screen and (max-width: 767px) {
  .Description-Media::before {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .Description-Media::after {
    position: absolute;
    z-index: -1;
    top: -35px;
    left: -100px;
    display: block;
    width: 260px;
    height: 150px;
    background-image: url(../img/bg-diamond.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    content: "";
  }
}
.Description-Media + .Description-Media {
  margin-top: 100px;
}
@media screen and (max-width: 767px) {
  .Description-Media + .Description-Media {
    margin-top: 85px;
  }
}
.Description-Media + .Description-Media::after {
  right: -100px;
  left: auto;
}
.Description-Media__Inner {
  display: flex;
  gap: 4.9090909091%;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .Description-Media__Inner {
    flex-direction: column;
    gap: 40px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.Description-Text-Box {
  min-width: 45.0909090909%;
}
@media screen and (max-width: 767px) {
  .Description-Text-Box {
    min-width: 100%;
  }
}

.Description-Text-Box-Title {
  margin-top: -10px;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.05em;
}
@media screen and (max-width: 767px) {
  .Description-Text-Box-Title {
    font-size: 2.4rem;
    line-height: 1.5;
  }
}

.Description-Text-Box-Text {
  margin-top: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.02em;
  word-break: break-all;
}
@media screen and (max-width: 767px) {
  .Description-Text-Box-Text {
    margin-top: 24px;
    font-size: 1.4rem;
  }
}

.Description-Image-Box {
  position: relative;
  min-width: 50%;
}
@media screen and (max-width: 767px) {
  .Description-Image-Box {
    min-width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .Description-Image-Box::before {
    position: absolute;
    top: -20px;
    right: 50%;
    display: block;
    width: 3px;
    height: 20px;
    background-color: #333333;
    content: "";
    transform: translateX(-50%);
  }
}

.Description-Caption {
  margin-top: 5px;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
}

.Description-Bg-Diamond__BottomRight {
  position: absolute;
  z-index: -1;
  right: -31.3%;
  bottom: -230px;
  width: 76%;
  padding-top: 632px;
  background-image: url(../img/bg-diamond.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
@media screen and (min-width: 1440px) {
  .Description-Bg-Diamond__BottomRight {
    right: calc(50% - 1095px - 100px);
    padding-top: 632px;
  }
}
@media screen and (max-width: 767px) {
  .Description-Bg-Diamond__BottomRight {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .Description-SP-Bg-Diamond__BottomLeft {
    position: absolute;
    z-index: -1;
    bottom: -167px;
    left: -261px;
    width: 581px;
    padding-top: 335px;
    background-image: url(../img/bg-diamond.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.Works-Footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  padding-top: 28px;
  padding-right: 40px;
  padding-bottom: 28px;
  padding-left: 40px;
  background-color: #1d293f;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .Works-Footer {
    height: 120px;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
    text-align: center;
  }
}
.Works-Footer__Inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1280px;
}
@media screen and (max-width: 767px) {
  .Works-Footer__Inner {
    flex-direction: column;
    justify-content: center;
  }
}

.Works-Footer-Back-Link {
  position: relative;
  font-family: "Josefin Sans";
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  color: #ffffff !important;
  letter-spacing: 0.02em;
  transition: opacity 0.3s;
}
.Works-Footer-Back-Link:hover {
  opacity: 0.7;
  transition: opacity 0.3s;
}

.Works-Footer-CopyText {
  font-family: "Josefin Sans";
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.3333;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 767px) {
  .Works-Footer-CopyText {
    margin-top: 41px;
  }
}

.st2 {
  fill: none;
}

@-webkit-keyframes drawLine {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes drawLine {
  100% {
    stroke-dashoffset: 0;
  }
}
#More-Footprint01,
#More-Footprint02,
#More-Footprint03 {
  fill-opacity: 0;
  stroke-dasharray: 300;
  stroke-dashoffset: 301;
  transition: fill-opacity 0.1s;
  -webkit-animation: drawLine 0.1s linear forwards;
          animation: drawLine 0.1s linear forwards;
}

#More-Footprint01.done .st2 {
  fill: #1a283e;
  fill-opacity: 1;
  transition: fill-opacity 0.2s;
}

#More-Footprint02.done .st2 {
  fill: #1a283e;
  fill-opacity: 1;
  transition: fill-opacity 0.2s;
  transition-delay: 0.3s;
}

#More-Footprint03.done .st2 {
  fill: #1a283e;
  fill-opacity: 1;
  transition: fill-opacity 0.2s;
  transition-delay: 0.6s;
}
/*# sourceMappingURL=works.css.map */